* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #3ea9f5;
}
.jumbotron {
  margin: 30px auto;
  text-align: center;  
}
.degree {
  color: teal;
  border: none;
  padding: 2px 5px;
  background-color: #eee;;
}
.container {
  margin: 40px auto;
  border-radius: 10px;
  background-color: #f18cb9;
}